@{
    ViewBag.Title = "Home Page";
}
<script src="~/App/app.js"></script>
<script src="~/App/tasks/taskService.js"></script>
<script src="~/App/tasks/taskController.js"></script>

<div ng-app="taskApplication">
    <div ng-controller="TaskController">
        <h4>Lista zadań:</h4>
        <ul>
            <li ng-repeat="task in tasks">
                {{task.Name}}
                <button class="btn" ng-click="openDetails(task.Id)">
                    Show
                </button>
                <button class="btn" ng-click="markTask(task.Id)">
                    Mark
                </button>
            </li>
        </ul>
        <div ng-show="selectedRoom">
            <h4>Szczegłóły:</h4>
            <table>
                <tr>
                    <td>Nazwa:</td>
                    <td>{{selectedRoom.Name}}</td>
                </tr>
                <tr>
                    <td>Opis:</td>
                    <td>{{selectedRoom.Description}}</td>
                </tr>
                <tr>
                    <td>Kategoria:</td>
                    <td>{{selectedRoom.CategoryName}}</td>
                </tr>
                <tr>
                    <td>Status:</td>
                    <td>{{selectedRoom.Status}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>